/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	/* по умолчанию */
	font-size: 16px;
	font-weight: 400;
}

body {
	line-height: 1;
	font-family: 'Work Sans', sans-serif;
	;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* Общие стили */
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1170px;
}

.flex {
	display: flex;
}

.btn {
	padding: 15px 30px;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	background-color: #35AFBF;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

.btn:hover {
	background-color: #2396a5;
}

.title {
	margin-bottom: 20px;
	text-align: center;
	color: #252626;
	font-size: 38px;
	font-weight: 700;
}

.descr {
	margin: 0 auto 60px;
	max-width: 597px;
	color: #707273;
	text-align: center;
	line-height: 160%;
}

/* Fonts */

@font-face {
	font-family: 'Work Sans';
	src: local("Work Sans Regular"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/WorkSansRegular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/WorkSansRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: local("Work Sans Medium"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/WorkSansMedium.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/WorkSansMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: local("Work Sans SemiBold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/WorkSansSemiBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/WorkSansSemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: local("Work Sans Bold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/WorkSansBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/WorkSansBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Header */

.header {
	padding: 35px 0;
	background: url('../img/header/bg.jpg') center center / cover no-repeat;
}

.header__top {
	justify-content: space-between;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 45px;
}

.nav__link {
	padding: 0 2px 10px;
	color: #969999;
	line-height: 160%;
	transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.nav__link:hover {
	color: #35AFBF;
	border-bottom: 2px solid #35AFBF;
}

.header__hero {
	align-items: center;
	padding-top: 140px;
}

.header__hero-left,
.header__hero-right {
	width: 50%;
}

.header__hero-title {
	margin-bottom: 20px;
	color: #252626;
	font-size: 51px;
	font-weight: 700;
	line-height: 125%;
}

.blue-text {
	color: #32A3B2;
}

.header__hero-descr {
	margin-bottom: 30px;
	max-width: 523px;
	color: #707273;
	font-size: 21px;
	line-height: 160%;
}

.header__hero-btn {
	padding: 15px 35px;
	font-size: 21px;
}

/* Services */
.services {
	padding: 120px 0;
}

.services__top {
	margin-bottom: 100px;
}

.services__list {
	justify-content: space-between;
}

.services__item {
	padding: 30px 22px 35px;
	max-width: 261px;
	text-align: center;
	border-radius: 10px;
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;
}

.services__item:hover {
	outline: 1px solid #A3E0E8;
	background-color: #A3E0E8;
}

.services__item-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px;
	width: 83px;
	height: 83px;
	border-radius: 100%;
	background-color: #35AFBF;
}

.services__item-subtitle {
	margin-bottom: 10px;
	color: #252626;
	font-size: 21px;
	font-weight: 600;
	line-height: 150%;
}

.services__item-text {
	color: #707273;
	font-weight: 400;
	line-height: 160%;
}

.services__bottom {
	justify-content: space-between;
	align-items: center;
}

.services__bottom-name {
	margin-bottom: 10px;
	color: #252626;
	font-size: 38px;
	font-weight: 700;
}

.services__bottom-speciality {
	position: relative;
	margin-bottom: 20px;
	color: #707273;
	font-weight: 500;
	line-height: 160%;
}

.services__bottom-speciality::after {
	content: "";
	position: absolute;
	right: -65px;
	top: 60%;
	width: 61px;
	height: 1px;
	background-color: #707273;
}

.services__bottom-text {
	margin-bottom: 35px;
	max-width: 450px;
	color: #707273;
	line-height: 160%;
}

.services--more {
	display: none;
}

.services__bottom-btn {
	border: 1px solid rgba(53, 175, 191, 0.20);
	color: #35AFBF;
	font-weight: 500;
	line-height: 120%;
	background-color: transparent;
}

.services__bottom-btn:hover {
	background-color: #cbf2f9;
}

/* How we work */
.how-we-work {
	padding: 125px 0;
	text-align: center;
	background: url('../img/how-we-work/bg.jpg') center center / cover no-repeat;
}

.how-we-work__title {
	color: #fff;
}

.how-we-work__descr {
	margin-bottom: 36px;
	max-width: 765px;
	color: #fff;
}

.how-we-work__play {
	border-radius: 50%;
	cursor: pointer;
}

.how-we-work__play-icon {
	fill: #35AFBF;
	transition: fill 0.3s ease-in-out;
}

.how-we-work__play:hover .how-we-work__play-icon {
	fill: #2396a5;
}

/* Features */
.features {
	padding: 120px 0;
}

.features__descr {
	max-width: 785px;
}

.features__list {
	flex-wrap: wrap;
	row-gap: 50px;
}

.features__item {
	position: relative;
	padding-bottom: 30px;
	max-width: 315px;
	text-align: center;
}

.features__item::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 260px;
	height: 2px;
	border-radius: 10px;
	background: linear-gradient(90deg, rgba(53, 175, 191, 0.00) 0%, rgba(53, 175, 191, 0.83) 49.65%, rgba(53, 175, 191, 0.00) 100%);
}

.features__item:not(:nth-child(3n)) {
	margin-right: 75px;
}

.features__item-icon {
	margin-bottom: 30px;
	border-radius: 50%;
}

.features__item-subtitle {
	margin-bottom: 15px;
	color: #252626;
	font-size: 21px;
	font-weight: 600;
	line-height: 150%;
}

.features__item-text {
	color: #707273;
	line-height: 160%;
}