/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	/* по умолчанию */
	font-size: 16px;
	font-weight: 400;
}

body {
	line-height: 1;
	font-family: 'Work Sans', sans-serif;
	;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* Общие стили */
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1170px;
}

.flex {
	display: flex;
}

.btn {
	padding: 15px 30px;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	background-color: #35AFBF;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

.btn:hover {
	background-color: #2396a5;
}

/* Fonts */

@font-face {
	font-family: 'Work Sans';
	src: local("Work Sans Regular"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/WorkSansRegular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/WorkSansRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: local("Work Sans Medium"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/WorkSansMedium.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/WorkSansMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: local("Work Sans SemiBold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/WorkSansSemiBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/WorkSansSemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: local("Work Sans Bold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/WorkSansBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/WorkSansBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Header */

.header {
	padding: 35px 0;
	background: url('../img/header/bg.jpg') center center / cover no-repeat;
}

.header__top {
	justify-content: space-between;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 45px;
}

.nav__link {
	padding: 0 2px 10px;
	color: #969999;
	line-height: 160%;
	transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.nav__link:hover {
	color: #35AFBF;
	border-bottom: 2px solid #35AFBF;
}

.header__hero {
	align-items: center;
	padding-top: 140px;
}

.header__hero-left,
.header__hero-right {
	width: 50%;
}

.header__hero-title {
	margin-bottom: 20px;
	color: #252626;
	font-size: 51px;
	font-weight: 700;
	line-height: 125%;
}

.blue-text {
	color: #32A3B2;
}

.header__hero-descr {
	margin-bottom: 30px;
	max-width: 523px;
	color: #707273;
	font-size: 21px;
	line-height: 160%;
}

.header__hero-btn {
	padding: 15px 35px;
	font-size: 21px;
}